
/**
 * See: http://stackoverflow.com/questions/6410730/webkit-css-endless-rotation-animation-how/21320622#21320622
 */
@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

%rotating {
	
	-webkit-animation: rotating 35s linear infinite;
	-moz-animation: rotating 35s linear infinite;
	-ms-animation: rotating 35s linear infinite;
	-o-animation: rotating 35s linear infinite;
	animation: rotating 35s linear infinite;

	@include vendorize(transform, translateZ(0));
	@include vendorize(transform, translate3d(0,0,0));

}
